* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
}

body {
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    width: 800px;
    padding: 20px;
    background-color: rgb(238, 241, 8);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.titulo {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.subTitulo {
    font-size: 1.4em;
    font-weight: bold;
    color: #444;
    margin-bottom: 10px;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.inputTarea {
    width: 70%;
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.agregar {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.agregar:hover {
    background-color: #218838;
}

.eliminar {
    background-color: rgba(255, 156, 156, 0.871);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.eliminar:hover {
    background-color: red;
}

.resultado {
    display: flex;
    justify-content: space-between;
}

#total, #realizadas {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table thead {
    background-color: #f8f9fa;
    color: #495057;
    text-align: left;
    font-weight: bold;
}

table thead td {
    padding: 10px;
}

table tbody td {
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}
